.calc-btn {
    width: 100%;
    display: block;
    color: #ffffff;
    border-color: #4F5150 !important;
    border-radius: 0 !important;
}

.calc-btn:hover {
    border-color: #4F5150 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.calc-btn:focus {
    border-color: #4F5150 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}